/* Nadia Yasin CSS
CSS for 1995-2005 Page*/

/* CSS for index 3 html */
  .info-box {
    margin-top: 30px;
    padding: 20px;
    background: #ffffff;
    /* border-radius: 8px; */
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  }

  label, select {
    display: block;
    margin: 10px 0;
    font-size: 21px;
    color: #363636;
    text-shadow: none;
    font-family: tahoma;
  }




/* Desktop Icons Css */
  #icon1 {
    position: absolute;
    top: 15px;
    left: 42px;
  }

  #icon2 {
    position: absolute;
    top: 503px;
    left: 895px;
  }

  #icon3 {
    position: absolute;
    top: 161px;
    left: 1335px;
  }

  #icon4 {
    position: absolute;
    top: 187px;
    left: 67px;
  }

  #icon5 {
    position: absolute;
    top: 112px;
    left: 110px;
  }

  #icon6 {
    position: absolute;
    top: 614px;
    left: 1393px;
  }

  #icon7 {
    position: absolute;
    top: 248px;
    left: 149px;
  }

  #icon8 {
    position: absolute;
    top: 319px;
    left: 1199px;
  }

  #icon9 {
    position: absolute;
    top: 380px;
    left: 1316px;
  }

  .close-button {
    position: absolute;
    top: 52px;
    left: 1465px;
    width: 2%;
  }

  .close-button2 {
    position: absolute;
    top: 43px;
    left: 978px;
    width: 1.5%;
  }




  #title-for-content {
    margin-top: -37px;
    color: white;
    text-shadow: none;
    font-family: Tahoma;
  }
  

body {
  background: #5b79c4;
    background-size: cover;
    background-repeat: no-repeat;
}

#content {
  display: block;
    width: 100%;
    border: solid #7996dd;
    border-top-width: 52px;
    border-bottom-width: 33px;
    border-right-width: 5px;
    border-left-width: 5px;
    background-color: #f0efe2;
    z-index: 2;
    border-radius: 10px;
}

#second-button {
    width: 4%;
    position: absolute;
    left: 955px;
    top: 337px;
}

#first-button {
    display: block;
    margin: auto;
    width: 34%;
    position: center;
    margin-top: 2%;
    margin-bottom: 12.6%;
}

#starter-text {
    text-align: center;
    margin-top: 90px;
}

h1 {
  color: black;
  text-shadow: none;
  font-family: Tahoma;
}

h2 {
  color: black;
  text-shadow: none;
  font-family: Tahoma;
}

h3 {
  color: black;
  text-shadow: none;
  font-family: Tahoma;
  margin-bottom: 20px;
}

#homepage-info {
  width: 32%;
  border: solid #7996dd;
    border-top-width: 29px;
    border-bottom-width: 20px;
    border-right-width: 5px;
    border-left-width: 5px;
    background-color: #f0efe2;
  z-index: 3;
  font-family: tahoma;
}

.info {
  margin-top: -25px;
  color: white;
  text-shadow: none;
  font-family: Tahoma;
}

.info1 {
  color: black;
  text-shadow: none;
  font-family: Tahoma;
}

.info2 {
  color: #363636;
  text-shadow: none;
  font-family: Tahoma;
}

#computer-screen {
  border: 10px solid #d3d2ce;
  background: white;
}

#opening-computer {
  background: #5b79c4;
  width: 100%;
}

#technology {
  color: #072960;
  text-shadow: none;
}

#pop-culture {
  color: #072960;
  text-shadow: none;
}

#news {
  color: #072960;
  text-shadow: none;
}

.info-img {
    display: block;
    margin: 8px 0 16px;
    width: 300px;
    height: auto;
}

