
body {
 background-image: url(https://images4.alphacoders.com/134/1349546.png);
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
  background-size: contain;
  background-color: rgb(147, 223, 255);
}